//	Variables
//--------------------------------------*/

// Define Colors
$ucla-blue:				#00A0DF;
$dark-blue:				#004987;
$white:					rgba(255, 255, 255, 0.98);
$gold:                  #D0A650;

// Define Color Pallete
// Consider using the defaults below or creating your own:
// https://robots.thoughtbot.com/controlling-color-with-sass-color-functions.
$primary:				$ucla-blue;
$primary-light:			tint($primary, 30%);
$primary-very-light:	tint($primary, 15%);
$primary-dark:			shade($primary, 82%);

$secondary: 			$dark-blue;
$secondary-light: 		tint($secondary, 73% );
$secondary-dark: 		darken($secondary, 15% );

// Text Colors
$text-color:			rgba(black, .87);
$secondary-text-color:	rgba(black, .53);
$link-color:			$primary;
$link-hover-color:		$primary-dark;
$link-visited-color:	$primary-dark;

// Other
$border-color:			rgba(black, .12);
$separator-color:		$primary;
$background-color:		$primary-light;
$btn-color:				$primary;
$btn-hover-color:		$secondary;
$bullet-point:			$secondary;
$bg-light-color:		rgba(black, .03);
$bg-dark-color:			rgba(black, .06);
$light-gold:            tint($gold, 50%);
//	Numbers
//--------------------------------------*/

// Set height of hero on homepage
$home-hero-height: 		550px;

// Global border radius
$radius:				15px;

// Site width
$site-width:			940px;