/*	Button Styles
/*--------------------------------------*/

// Button Defaults

%btn {
	background: $btn-color;
	color: white!important;
	padding: 3px 10px;
	font-weight: bold;
	letter-spacing: .05em;
	min-width: 90px;
	display: inline-block;
	text-align: center;
	border: none;
	cursor: pointer;
	position: relative;
	@include border-radius($radius);
	@include transition(background-color 0.24s ease-in-out);

	&:hover, &:focus {
		background: $btn-hover-color;
		color: white;
	}
	&:active {
	  top: 1px;
	}
}
header, footer, article, .col {
	.btn, button, input[type="submit"], a.btn {
		@extend %btn;
	}
	input[type="submit"] {
		padding: 6px 10px;
	}
}
.btn.give {
    background: $secondary;
	margin: 0 auto;
	text-align: center;
	min-width: 80px;
	letter-spacing: 0;
    .fa-heart {color: $gold;}
}
button.outline {
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0;
	background: none;
	border: 2px solid white;
	margin-top: 35px;
	padding: 7px 25px;
	@include border-radius(25px);
	@include transition(background-color 0.24s ease-in-out);
	
	&:hover, &:focus {
		background: $btn-color;
		color: white;
	}
}

// Need to duplicate button code and make important for Events
.tribe-bar-submit .tribe-events-button, .tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
	background-color: $btn-color!important;
	text-decoration: none!important;
	line-height: 1em!important;
	color: white!important;
	padding: 8px 20px!important;
	font-weight: bold!important;
	letter-spacing: 1px!important;
	min-width: 90px!important;
	display: inline-block!important;
	text-align: center!important;
	border: none!important;
	cursor: pointer!important;
	position: relative!important;
	border-radius: $radius!important;
	background-clip: padding-box!important;
	transition: background-color 0.24s ease-in-out!important;
	-webkit-transition: background-color 0.24s ease-in-out!important;

	&:hover, &:focus {
		background-color: $btn-hover-color!important;
		color: white!important;
	}
	&:active {
	  top: 1px;
	}
}