/*	Slider
/*--------------------------------------*/

.bx-wrapper {
	height: $home-hero-height!important;
	position: relative;
	margin: 0 auto 40px;
	padding: 0;
	*zoom: 1;
	float: left;
	clear: both;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}
#bxslider {
	margin-top: 0;
}
#slider {
	width: 100%;
	float: left;
	clear: both;
	margin: 0;
	
	li {
		height: $home-hero-height;
		margin: 0;
		padding: 0;
		list-style: none;
		float: left;
		background-position: center bottom;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		position: relative;
	}
	.bg {
		width: 100%;
		height: $home-hero-height;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	}
	.slider-content a {
		color: $text-color!important;
		font-weight: normal;
	}
	.slider-content p {
		font-size: 12px;
		line-height: 18px;
	}
	.content {
		margin: 0 auto;
	}
	.hero-description {
		color: $white;
		text-align: center;
		margin: 0 auto;
		padding: 60px 0;
		position: absolute;
		bottom: 0;
		
		.content {
			width: $site-width;
			position: static;
			height: auto;
			box-shadow: none;
			background: none;
		}
		h2 {
			font-size: 4em;
			width: $site-width;
			margin: 0 auto;
			font-weight: 600;
		}
		p {
			font-size: 1.2em;
			width: 700px;
			margin: 0 auto;
			font-weight: normal;
		}
		button {
			margin-top: 35px;
			min-width: 180px;
			font-size: 16px;
			padding: 10px 25px;
			border-radius: 25px;
		}
		.left {
			text-align: left;
			
			p {
				margin: 0;
			}
		}
		.right {
			text-align: right;
			
			p {
				margin: 0;
				float: right;
				clear: both;
			}
			button {
				float: right;
				clear: both;
			}
		}
	}
}
@media only screen and (min-width: 961px) and (max-width: 1120px) {
	#bxslider {		
		.hero-description {
			width: 80%!important;
			left: 0;
			right: 0;
			
			h2 {
				width: 100%;
			}
			p {
				width: 100%;
			}
			.content {
				width: 100%!important;
			}
		}
	}
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
	background: url(../images/arrow-left.png) no-repeat center left;
	left: 50px;
	opacity: .5;
	@include transition(all 0.24s ease-in-out);
}
.bx-wrapper .bx-next {
	background: url(../images/arrow-right.png) no-repeat center right;
	right: 50px;
	opacity: .5;
	@include transition(all 0.24s ease-in-out);
}
.bx-wrapper .bx-prev:hover {
	opacity: 1;
}
.bx-wrapper .bx-next:hover {
	opacity: 1;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 42%;
	outline: 0;
	width: 55px;
	height: 90px;
	z-index: 9999;
	text-indent: -9999px;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* PAGER */
.bx-wrapper .bx-pager {
	padding-top: 0px;
	margin-top: -40px;
	position: relative;
	width: $site-width;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: transparent;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	border: 1px white solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 10px;
	@include transition(background-color 0.24s ease-in-out);
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
	background-color: $primary;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	vertical-align: bottom;
	*zoom: 1;
	*display: inline;
}
.bx-wrapper .bx-pager-item {
	font-size: 0;
	line-height: 0;
}