/* ==========================================================================
	Main Styles - Desktop
	
	Table of Contents
	
	1.  Main Containers
	2.  Header
	3.  Navigation
	4.  Homepage
	5.  Footer
	6.  Person Page
	7.  People Archive
	8.  Books
	9.  Articles/Posts
	10. Other
	
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

body {
	background-color: white;
}
#container {
	width: 100%;
	overflow: auto;
	zoom: 1;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
	@extend %clearfix;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 10px 0 30px 20px;
}
.page-template-page-full .col {
	width: 100%;
}
.mobile {display: none;}

/*	2. Header
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
		.dept-logo { 
			width: 940px;
			display: inline-block;
			margin: 0;
			text-align: left;
			
			// For retina, upload image 2x larger and resize here
			img {
				width: 845px;
				height: auto;
			}
		}
		h1.logo-text {
		    font-weight: 600;
		    text-transform: uppercase;
		    margin-top: 15px;
		    font-size: 3.2em;
		    color: $text-color;
		}
	}
	.logos {
		float: left;
	}
	nav {
		clear: both;
		float: left;
		padding: 30px 0 20px 0;
	}
	nav ul {
		width: 730px;
	}
	.search {
		float: right;
		clear: right;
		margin-top: 30px;
	}
	.give-back {
		width: 130px;
		text-align: center;
		float: right;
		margin-top: 20px;

		span.support {
			font-size: .8em;
			display: block;
		}
	}
	.university-logo {
		float: left;
		margin-top: 20px;
		
		// For retina, upload image 2x larger and resize here
		width: 119px;
		height: 38px;
	}
}
.breadcrumbs {
	background-color: $secondary;
	width: 100%;
	float: left;
	clear: both;
	color: $light-gold;
	font-size: .8em;
	padding: 8px 0;
	margin-bottom: 40px;
	
	a {
		font-weight: 600;
		color: $white;
		text-decoration: underline;
        padding: 0 2px;
	}
}

/*	3. Navigation
/*--------------------------------------*/

header, footer {
	nav.desktop ul, nav ul {
		padding: 0;
		margin: 0;
		float: left;
	}
	nav.desktop ul li, nav ul li {
		display: inline-block;
		margin: 0 5px 0 0;
	}
}
header nav.desktop ul li {
	position: relative;
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0 10px;
		width: 170px;
		top: 20px;
		border-top: 4px solid $gold;
		margin-top: 5px;
		background-color: white;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	ul li.menu-item-has-children a {
		&:after {
			font-family: "Font Awesome 5 Free";
            content: " \f0d7";
            color: rgba(0, 0, 0, 0.6);
            padding-left: 3px;
		}
	}
	ul li.menu-item-has-children ul.sub-menu a {
		padding-right: 0;
		
		&:after {
			content: none;
 		}
	}
	a {
		font-weight: 600;
		text-transform: uppercase;
		font-size: .8em;
	}
	a, a:link {
		color: $text-color;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active {
		color: $link-hover-color;
	}
}

/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin: 0 0 5px 0;
		line-height: 1.2em;
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
	}
	.widget_recent_entries li {
		margin: 0 0 10px 0;
		padding: 0;
		
		a {
			font-family: $raleway;
			font-size: .9em;
		}
	}
	.btn {
		margin-bottom: 40px;
	}
	.sub-menu { 
		display: none;
	}
	.current_page_item .sub-menu, 
	.current_page_parent .sub-menu {
		display: block;
		margin: 5px 0 0 30px;
	}
	.sub-menu li {
		list-style: disc;
	}	
}
.col-nav {
	width: 220px;

	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
	ul + h3 {
		margin-top: 40px;
	}
}

/*	4. Homepage
/*--------------------------------------*/

.home #hero {
	height: $home-hero-height;
	margin: 0 0 40px 0;
	
	.content {
		width: 100%;
		height: $home-hero-height;
		position: relative;
		
		&.text {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
		}
	}
	.hero-description {
		color: $white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 60px 0;
		position: absolute;
		bottom: 0;
		
		.content {
			width: $site-width;
			position: static;
			height: auto;
			box-shadow: none;
			background: none;
		}
		h2 {
			font-size: 4em;
			width: $site-width;
			margin: 0 auto;
			font-weight: 600;
		}
		p {
			font-size: 1.2em;
			width: 700px;
			margin: 0 auto;
			font-weight: normal;
		}
		button.outline {
			margin-top: 35px;
			min-width: 180px;
		}
		.left {
			text-align: left;
			
			p {
				margin: 0;
			}
		}
		.right {
			text-align: right;
			
			p {
				margin: 0;
				float: right;
				clear: both;
			}
			button {
				float: right;
				clear: both;
			}
		}
	}
	.hero-description.middle {
		bottom: 12%;
	}
}
.home .col {
	float: left;
	
	ul, ol {
		margin-top: 0;
		
		a {
			text-decoration: none;
		}
	}
	li {
		list-style: none;
		margin-left: 0;
		@extend %clearfix;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		font-weight: normal;
		color: $text-color;
		display: block;
		font-size: .93em;
		line-height: 1.6em;
	}
	span.description {
		margin-bottom: 10px;
	}
	.categories {
		display: block;
		line-height: 1em;
	}
	&.one {
		width: 220px;
		padding: 0;
	}
	&.two {
		width: 460px;
	}
	&.three {
		width: 700px;
	}
	&.page-col {
		p {
			font-size: 1em;
		}
		&.one p {
			font-size: .93em;
		}
	}
	&.news-col {
		li {
			padding: 0;
			//margin-bottom: 20px;
			clear: both;
		}
		.category a {
			font-size: .70em;
			color: $secondary-text-color;
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: 1px;
			display: inline-block;
		}
		img {
			margin: 3px 0 20px 0;
		}
		.btn {
			margin-left: 130px;
		}
		&.one {
			ol.categories {
				
			}
			.item {
				width: auto;
			}
			p {
				//margin-bottom: 0;
			}
		}
		&.two {
			.item {
				float: right;
				width: 330px;
			}
		}
		&.three {
			.item {
				float: right;
				width: 570px;
			}
		}
	}
	&.events-col {
		.duration {
			color: $text-color;
			line-height: 1.5em;
			font-size: .8em;
		}
		.duration span {
			display: inline; 
			font-weight: 600;
			padding: 0;
			margin: 0;
		}
		li {
			margin-bottom: 10px;
		}
		.category {			
			a {
				font-size: .70em;
				color: $secondary-text-color;
				text-transform: uppercase;
				font-weight: normal;
				letter-spacing: 1px;
				display: inline-block;
			}
			& + .category {
				&:before {
					content: ",";
					margin: 0 5px 0 0;
				}
			}
		}
		&.one {
			ol.categories {
				margin-top: -7px
			}
		}
		&.two {
			.item {
				float: right;
				width: 60%;
				margin-top: 0;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
	}
}
.home .col + .col {
	margin: 0 0 0 20px;
	background-color: white;
	
	li {
		padding: 0;
	}
}
.home {
    // Tweak the homepage for even width 3 columns
        .col {
            width: 300px !important;
            .btn {margin-left: 0px !important;}
            dd {margin: 0 0 20px 0;}
        }
        .news-col .item {
            width: 100% !important;
        }
    
    .support {        
        position: relative;
        color: white;
        display: block;
        clear: both !important;
        background-color: $secondary !important;
        margin:60px 0 0 0;
        overflow: hidden;
        width: 100%;
        min-height: 500px;
        float: none;
        .content { padding-top: 40px; padding-bottom: 40px;}
        .suppport_txt { 
            width: 50%; 
            float: left;
            p:first-of-type {margin-top: 0;}
            p {
                font-size: 1.25em;
                color: $primary-very-light;
                font-style: italic;
                margin: 10px 0;
                .btn {display: block;}
            }
            
            .percent-txt { float: right; text-align: center; max-width: 220px;}
            .donate-btn {
                float: left; 
                text-align: center; 
                width: 110px;
                position: absolute;
                a.btn {
                    color: $secondary;
                    position: absolute;
                    z-index: 2;
                    text-align: center;
                    width: 100px;
                    margin: 33px 5px;
                    line-height: .8em;
                    font-size: 1.3em;
                    span { display: block; font-size: .8em;}
                }
                .fa-heart {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 0;
                    color: $gold;
                    cursor: pointer;
                    font-size: 110px;
                }
                &:hover {
                    a {color: $primary-very-light;}
                    .fa-heart {
                        color: $primary;
                        
                    }
                }
            }
        }
        .graphic { width: auto; float: right; margin-left: 10px;}
        h1 {
            font-size: 5em;
            font-weight: 800;
            line-height: inherit;
                span {
                    display: inline-block;
                    font-size: 60px;
                    font-size: .8em;
                }
        }
        h2 {
            font-size: 1.7em;
            color: $primary-light;
        }
        h3 {
            font-size: 2.4em; 
            color: white; 
            text-transform: uppercase; 
            border: none; 
            font-weight: 800;
            margin-bottom: 10px;
            width: 80%;
        }
        a { color: $gold; }
        
        /* Thermometer */
            .bar-container {
              width: 450px;
              height: 320px;
              //margin: 0 20px;
                .p_line {
                    float: left;
                    width: 40px;
                    position: relative;
                    .fa-caret-left { width: 10px; height: 20px; color: #3D85CC; position: absolute; font-size: 30px;}

                }
                .goal-bar2 {
                    position: relative;
                    width: 400px;
                    float: right;
                    margin-left: 10px;
                        .pb_fill, .pb_bg {
                            width: 400px;
                        }
                        .bar-wrap {
                            position: absolute;
                            z-index: 10;
                            .bar {
                                position: absolute;
                                
                                //clip: rect(0px, 450px, 320px, 0px);
                            
  /*mask-image: -webkit-gradient(linear, left top, right bottom, 
            color-stop(0.00,  rgba(0,0,0,1)),
            color-stop(0.35,  rgba(0,0,0,1)),
            color-stop(0.50,  rgba(0,0,0,0)),
            color-stop(0.65,  rgba(0,0,0,0)),
            color-stop(1.00,  rgba(0,0,0,0)));*/
                            }
                    }
                    .pb_bg {
                        position: absolute;
                        z-index: 0;

                    }
                }
            }
            
            .goal-bar {
              position: relative;
              height: 100%; 
                z-index: 10;
                .bar-wrap {
                position: relative;
                height: 599px;
                overflow: hidden; }
                .bar {
                position: absolute;
                width: 100%;
                height: 100%;
                background: $primary-light;
                transition: all 0.2s;
                z-index: -1; }
            }
    
    
    }
    .donors {        
        position: relative;
        color: white;
        display: block;
        clear: both !important;
        background-color: $primary !important;
        margin: 0;
        overflow: hidden;
        width: 100%;
        min-height: 500px;
        float: none;
        
        .donors-col.two {
            width: 77%;
            float: left;
            padding: 40px 0px 55px 0;
            position: relative;
            z-index: 100;
            img {display: none;}
            .content {   
                width: 52%;
                transform: translate(10%, 0);
            }
        }
        #hero {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: auto;
            width: 35%;
            float: left;
            clear: none;
            margin: 0 0 0px 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0; 
            border: none;
            z-index: 1;
        }
        .halfCircleRight{
             border-radius: 0 500px 500px 0;
        }
            .content { 
                margin-top: 40px;
                .donors-col {
                    margin: 20px auto;
                    width: 940px;
                    float: none;
                    clear: both;
                }
                
            }
        h3 {
            font-size: 2.7em; 
            color: white; 
            text-transform: uppercase; 
            border: none; 
            font-weight: 800;
            margin-bottom: 10px; 
            text-align: right; 
            float: right; 
            width: 80%;
        }
        p .link {display: block;}
        .view-btn {
            clear: both; 
            padding-top: 0px;
            float: right;
            .btn {
               // border: 2px solid $gold; 
                border-radius: 20px;
                background: $gold;
                padding: 5px 15px;
                color: $secondary;
                
            &:hover { background: $secondary-light; color: $white;}
            }
        }
                h4 {
                    text-align: right;
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 1.25em;
                    font-style: italic;
                    color: $primary-very-light;
                }
                img {float: left; margin-top: 0px;}
                .item {float: right; text-align: right; width: 90%;}
        .donors-col ul {
                        float: right;
                        width: 65%;
                        li {
                            list-style-type: none !important;
                            padding: 0px;
                            margin: 0px;
                        }
                    }
        .item {
            border-left: none;
            padding: 0.5em 10px;
            position: relative;
            font-style: italic !important;
            font-size: 1.1em;
            line-height: 1.6em;
            color: $white;
            h4, a h4, p {position: relative; z-index: 100;}
            p:first-of-type {margin-top: 0px;}
            a {color:$gold;}
            a.hover {color: $link-color;}
            
            p {    
                font-size: 1.3em;
                line-height: 1.35em;
                margin: .8em 0;
                a {
                    color: $secondary; 
                    font-size: .9em;
                    text-decoration: underline;
                    text-transform: capitalize;
                    @include transition(color 0.24s ease-in-out);

                    &:hover, &:focus {
                        color: $light-gold;
                        text-decoration: underline;
                    }
                }
            }
        }        
    }
    footer {margin-top:0px;}

}

/*	5. Footer
/*--------------------------------------*/

footer {
	background-color: $text-color;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: $white;
	font-size: 1em;
	line-height: 1.5em;
	
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: $gold;
			font-weight: 600;
			text-transform: uppercase;
			font-size: .8em;
		}
		ul.footer-nav {
			clear: left;
			float: left;
		}
		ul.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin: 0 0 0 10px;
			font-size: 1.7em;
		}
	}
	// Hiding and only showing on mobile
	.search-form {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .8em;
		
		.university-logo img {
			float: left;
			width: 100px;
			height: 32px;
		}
		p {
			float: left;
			margin: 0 0 0 20px;
		}
		span {
			margin: 0 5px;
		}
		a, a:link, a:visited {
			color: $gold;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*	6. Person Page
/*--------------------------------------*/

.single-people {
	.details {
		span {
			display: inline;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0;
		}
	}
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
	.bio {
		border-bottom: 2px solid $border-color;
		margin-bottom: 20px;
	}
	.col-nav ul {
		margin-bottom: 40px;
	}
	.photo {
		width: 280px;
		height: 280px;
		margin-bottom: 10px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}
.link, .download {
    .fas {
            font-size: .8em;
            margin-right:5px;
    }
}

/*	7. People Archive
/*--------------------------------------*/

/* Filters */
.page-template-page-people-listing .main header {
	text-align: center;
	float: left;
	clear: both;
}
.filter {
	clear: both;
	float: left;
	margin: 20px 0;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
h1 {display: inline-block;}
h2.filter-title {
    color: $primary;
    background-color: transparent;
    padding: 10px 0;
    font-size: 2em;
}
span.filter-title {
    font-size: 3em;
    font-weight: 200;
    margin-left: 10px;
   // border-left: 1px solid #f4f4f4;
    padding-left: 10px;
    color: $gold;
}
.filter-title::before {
    content: ' / ';
    color: #f4f4f4;
    font-weight: 100;
}
.button-group {
    background: #f4f4f4;
    display: inline-block;
    padding: 15px 20px;
    border-radius: 33px;
    margin-bottom: 0px;
	
	button {
		margin-right: 5px;
		min-width:inherit;
		letter-spacing: 0;
        background: transparent;
       // padding: 0px;
        margin: 0px;
        color: $primary !important;
        font-weight: normal;
        border-left: 1px solid #c9c9c9;
        border-radius: 0;
        text-decoration: underline;
        @include transition(color 0.24s ease-in-out);
        
        &:hover, &:focus {
            color: $gold !important;
            background: none;
            text-decoration: underline;
        }
	}
    button.is-checked {
        color: $secondary !important;
        font-weight: bold;
        text-decoration: none;
    }
	button.all {
		//min-width: 100px;
		//margin-right: 10px;
        border-left: none;
	}
}
.dropdown-filter {
	display: none;
}

/* People List */
.people-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.person-item {
		display: block;
		float: left;
		padding: 0;
		margin: 15px 10px;
		width: 440px;
		height: 175px;
		text-align: left;
		line-height: 1.8em;
        background-color: #f2f2f2;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
		}
		&.hover {
			&:active, 
			&:hover, 
			&:focus {
				background-color: $bg-light-color;
			}
			.name {
				color: $link-color;
			}
		}
        dl {
            float: left;
            margin: 15px 0;
            padding: 0px 20px;
            width:51%;
        }
		.photo {
			width: 175px;
			height: 175px;
            clear: both;
            float: left; 
            // Remove Grayscale 
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
		}
        :hover .photo {
            // Transition to grayscale when hover
            -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 60px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		.name {
			color: $text-color;
			letter-spacing: normal;
            font-size: 1.25em;
            text-decoration: underline;
            line-height: 1.2em;
            margin-bottom: 5px; 
		}
		.interest {
			font-size: .8em;
			color: $text-color;
			line-height: 1em;
			margin: 5px 0 10px 0;
		}
        .phone {
            color:$text-color;
        }
		.position {
			color: $secondary-text-color;
			font-style: italic;
			margin-bottom: 10px;
            line-height: 1.15em;
            font-size: 14px;
            font-weight: bold;
		}
		.email, .office, .office-hours, .phone {
			font-size: .9em;
			margin: 0;
            line-height: 1.2em;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
            text-decoration: underline;
		}
	}
}

/* Staff */
.people-list .staff {
	li:hover {
		background: none;
	}
	.name {
		color: $text-color;
	}
}



/*	8. Books
/*--------------------------------------*/

/* General Styles */
.cover {
	@include vendor-prefix('box-shadow', '0 0 10px 0 rgba(0,0,0,.14)');
	border: 3px solid $white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: $white;
		font-weight: 600;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.custom-cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		list-style: none;
		display: inline-block;
		width: 320px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 225px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: .8em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .8em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		&:before {
			content: ",";
			margin: 0 5px 0 -3px;
		}	
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books {
	h1 {
		text-align: center;
	}
	.book-list {
		margin-top: 40px;
		clear: both;
		
		ul {
			padding: 0;
		}
		li {
			display: inline-block;
			padding: 0;
			margin: 5px 21px;
			width: 190px;
			height: 280px;
			text-align: center;
			vertical-align: top;
			@extend %clearfix;
		}
		.custom-cover {
			width: 91px;
			height: 127px;
			line-height: 9px;
			padding: 20px 5px 10px 5px;
			margin-bottom: 12px;
			
			.title {
				font-size: 9px;
			}
		}
		dt.title {
			font-size: 1em;
			line-height: 1em;
			margin: 5px 0;
		}
		dd.publisher {
			font-size: .8em;
			line-height: .8em;
			margin-bottom: 5px;
		}
		dd.author a {
			display: block;
			font-size: .8em;
			line-height: 1.14em;
		}
		a {
			text-decoration: none;
		}
	}
}

/*	9. Articles/Posts
/*--------------------------------------*/

.category, .search-results, .archive {
	article {
		padding-bottom: 40px;
	}
	article + article {
		border-top: 1px dotted $border-color;
	}
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

/*-- Donors and Alumni ---*/

.single .donors {    
     img.thumb { margin-top: 0;}
}

/*----- Archive ---------*/
.archive {
    .donors {
        padding-bottom: 20px;
         section {
            clear: both;
             display: table;
             .brief { width: 70%; display: inline-block;}
             p { margin-bottom: 1.5em;}
             img.wp-post-image { width: 170px; height: 170px;}
             h3.entry-title {
                 display: inline-block; 
                 margin: 15px 0 0 0; 
                 font-size: 1.75em; 
             }
             &:after {
                 content: "";
                 display: table;
                 clear: both;
             }
         }
    }
    /*--- Featured Donors Header on Archive page ---- */
    .featured-donors {        
        position: relative;
        color: white;
        display: block;
        clear: both !important;
        background-color: $text-color;
        margin: 0;
        overflow: hidden;
        width: 100%;
        min-height: 360px;
        float: none;
        
        .donors-col.two {
            width: 77%;
            float: right;
            padding: 40px 0px 55px 0;
            position: relative;
            z-index: 100;
            img {display: none;}
            .content {   
                width: 52%;
                transform: translate(10%, 0);
            }
        }
        #hero {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: auto;
            width: 25%;
            float: right;
            clear: none;
            margin: 0 0 0px 0;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0; 
            border: none;
            z-index: 1;
        }
        .halfCircleRight{
             border-radius: 400px 0px 0px 400px;
        }
            .content { 
                margin-top: 40px;
                .donors-col {
                    margin: 20px auto;
                    width: 940px;
                    float: none;
                    clear: both;
                }
                
            }
        h2 { font-size: 18px; color: $gold;}
        h3 {
            font-size: 26px; 
            color: white; 
            text-transform: uppercase; 
            border: none; 
            font-weight: 600;
            margin-bottom: 0px; 
            text-align: left; 
            float: left; 
            width: 80%;
            margin-top: 0px;
        }
        .view-btn {
            clear: both; 
            padding-top: 0px;
            float: left;
            .btn {
               // border: 2px solid $gold; 
                border-radius: 20px;
                background: $primary;
                padding: 5px 15px;
                color: $white;
                
            &:hover { background: $secondary-light; color: $white;}
            }
        }
                h4 {font-size: 1.5em; font-style: normal; margin-bottom: 25px;}
                img {float: left; margin-top: 0px;}
                .item {float: left; text-align: left; width: 90%;}
        .donors-col ul {
                        float: left;
                        width: 65%;
                        li {
                            list-style-type: none !important;
                            padding: 0px;
                            margin: 0px;
                        }
                    }
        .item {
            border-left: none;
            padding: 0.5em 10px;
            position: relative;
            font-style: italic !important;
            font-size: 1.1em;
            line-height: 1.6em;
            color: $white;
            h4, a h4, p {position: relative; z-index: 100;}
            p:first-of-type {margin-top: 0px;}
            a {color:$gold;}
            a.hover {color: $link-color;}
            
            p {    
                font-size: 1.1em;
                line-height: 1.35em;
                margin: .8em 0;
                a {
                    color: $secondary; 
                    font-size: .9em;
                    text-decoration: underline;
                    @include transition(color 0.24s ease-in-out);

                    &:hover, &:focus {
                        color:$gold ;
                    }
                }
            }
        }        
    }
}

/*----- Organization listing ---------*/
.page .org-list {
	article {
		padding-bottom: 20px;
	}
	article + article {
		border-top: 1px dotted $border-color;
	}
 section {
    clear: both;
     p { margin-bottom: 1.5em;}
     img { width: 140px; height: 140px; border: 3px solid $border-color; padding:2px;}
     .brief { width: 74%; display: inline-block;}
     h3.entry-title {
         display: inline-block; 
         margin: 15px 0 0 0; 
         font-size: 1.75em; 
     }
     &:after {
         content: "";
         display: table;
         clear: both;
     }
 }
}



/*----- Alumni listing ---------*/
.page-template-page-people-listing {

.main.alumni header {
    text-align: left;
}
.alumni .people-list {
    margin-top: 40px;
    padding: 0 9px;
    clear: both; 
    @include transition(background-color 0.24s ease-in-out);
    ul {
        margin: 30px 0;
        padding: 0; }
    li {
        list-style: none; }
    .person-item {
        display: block;
        padding: 15px 10px;
        clear: both;
        margin: 0px;
        max-width: 100%;
        width: auto;
        height: auto;
        text-align: left;
        border-bottom: 1px solid #eee;
        background: none;
        -webkit-transition: background-color 0.24s ease-in-out;
        transition: background-color 0.24s ease-in-out; 
        a {
            display: inline-block; 
            clear: both;
            float: left;
        }
    &.hover {
			&:active, 
			&:hover, 
			&:focus {
				background-color: $bg-light-color;
			}
        .name {
                color: $link-color;
                text-decoration: underline;
            }
        }
    dl {
        margin: 15px 15px 10px 15px;
        padding: 0;
        display: block;
        max-width: 76%;
        width: auto;
        float: left;
        .name {
            color: $text-color;
            font-size: 1.75em;
            font-weight: 600;
            margin-bottom: 10px;
            }
        .class_year {
            font-size: 1.2em; 
            color: $text-color; 
            font-weight: 600;
            margin: 0;
        }
    }
    p {
        margin: 20px 0px;
        line-height: 1.3em; 
        font-weight: normal;
        color: $text-color;
        a:not(.btn) {
            color: $text-color;
            font-weight: normal;
        }
    }
        
        a.btn {        
		  @extend %btn;
        }
    .photo {
        border: 7px solid white;
        width: 170px;
        height: 170px;
        float: left;
    }
    .circle {
        // To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
        border-radius: 60px;	
    }
    .rounded {
        // Make radius 1/4 the width and height
        border-radius: 25px;
    }
    }

} 

}



/*	10. Other
/*--------------------------------------*/

.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
.content-subtitle {
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.6em;
	display: block;
}
.notice, .gform_confirmation_wrapper {
	width: 100%;
	margin: 2em 0;
	background: $bg-light-color;
	border-top: 10px solid $primary;
	padding: 10px 0;
}
.notice p, .notice h3 {
	padding: 0 25px;
}
.gform_confirmation_wrapper {
	padding: 10px 0 40px 0;
	
	.gform_confirmation_message {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* Courses */
ul.course-list {
	li {
		list-style: none;
		margin-left: 0;
		padding-bottom: 5px;
	}
	h3 {
		margin-bottom: 0;
	}
	p {
		margin: 1em 0 1.5em 0;
	}
}

/* Tables */
td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}

/* FAQ/Accordion */
h5.topic {
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 0;
	margin: 0;
	
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		border-radius: 0;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		.fas {
			margin-right: 10px;
			@include transition(all 0.24s ease-in-out);
		}
		&[aria-expanded=true] .fas {
			-moz-transform: rotate(90deg);
		}
	}
}
div.response + h5.faq {
	border-top: 1px solid $border-color;
}
div.response {
	padding-left: 20px;
	
	p {
		margin: 0 0 1.5em 0;
	}
	
	// This is the opened state
	&.animated-expandmore__to_expand {
		display: block;
		overflow: hidden;
		opacity: 1;
		transition: visibility 0s ease, max-height .8s ease, opacity 1s ease ;
		max-height: 100em;
		visibility: visible;
		transition-delay: 0s;
	}
	
	// This is the hidden state
	&[data-hidden=true].animated-expandmore__to_expand {
		display: block;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		transition-delay: 1s, 0s, 0s;
	}
}

// Accordion style
h5.accordion {
	padding: 10px;
	margin: 0;
	background: $bg-light-color;
	border: 1px solid $border-color;
	@include transition(all 0.24s ease-in-out);
	
	&:hover {
		background: $bg-dark-color;
	}
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		.fas {
			font-size: .8em;
		}
		&[aria-expanded=true] .fas {
			-moz-transform: rotate(135deg);
		}
	}
}
div.response.accordion {
	border: 1px solid $border-color;
	border-top: none;
	padding: 0;
	margin-top: -2px;
	
	& > * {
		margin: 1.5em 20px;
	}
	& + h5.accordion {
		border-top: none;
	}
	&[data-hidden=true] {
		padding: 0;
	}
}

/* Images/Galleries/Fancybox */
article img {
	max-width: 100%;
	height: auto;
}
img.alignleft, figure.alignleft { 
	float: left;
	margin: 15px 15px 15px 0;
}
img.alignright, figure.alignright { 
	float: right;
	margin: 15px 0 15px 15px;
}
img.aligncenter, figure.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.gallery {
	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
	}
	.gallery-icon {
		min-height: 160px;
	}
}
.fancybox-container .fancybox-toolbar {
	top: 60px;
}

/*	Color Palette
/*--------------------------------------*/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: $white;
}